<div class="d-flex justify-content-center complete-form-custom" *ngIf="!controle">
      <main class="form-signin">

      <div class="text-center mb-4">
          <h3 class="mb-3 font-weight-normal">Dados Prestador</h3>
      </div>


      <div class="input-group mb-3">
        <input type="text" class="form-control" mask="00000-000" [(ngModel)]="cep" placeholder="00000-00"  (ngModelChange)="validateCep()">
        <button class="btn btn-primary" (click)="buscarCep()" type="button" id="button-addon2" [disabled]="!isCepValid">Buscar Cep</button>
        <p class="text-danger">{{ mensagemFormSemCep }}</p>
      </div>

      <p class="text-danger">{{ mensagemErro }}</p>

        <div class="container mt-2">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

              <div class="wrapper" *ngIf="cepInfo">
                <div class="card">
                  <h3 class=" text-center card-title">Endereço</h3>
                  <p class="card-content">{{ cepInfo?.cep }}</p>
                  <p class="card-content">{{ cepInfo?.logradouro }}</p>
                  <p class="card-content">{{ cepInfo?.bairro }}</p>
                  <p class="card-content">{{ cepInfo?.localidade }}</p>
                  <p class="card-content">{{ cepInfo?.uf }}</p>
                </div>
              </div>

              <div class="mb-3">
                <label for="complemento" class="form-label"><span style="font-size: 15px;">Complemento *número, apartamento, quadra, etc</span></label>
                <input id="complemento"
                       type="text"
                       class="form-control"
                       placeholder=""
                       formControlName="complemento"
                       [ngClass]="{'is-invalid': f['complemento'].invalid && (f['complemento'].dirty || f['complemento'].touched),
                                   'is-valid': f['complemento'].valid && (f['complemento'].dirty || f['complemento'].touched)}">

                      <div *ngIf="f['complemento'].invalid && (f['complemento'].dirty || f['complemento'].touched)" class="invalid-feedback">
                        <div *ngIf="f['complemento'].errors?.['required']">Complemento é obrigatório.</div>
                        <div *ngIf="f['complemento'].errors?.['maxlength']">Complemento não pode exceder 20 caracteres.</div>
                      </div>
              </div>
              <div class="mb-3">
                <label for="telefoneCelular" class="form-label">Telefone Celular</label>
                <input id="telefoneCelular"
                       type="text"
                       mask="(00) 00000-0000"
                       class="form-control"
                       placeholder="(00) 00000-0000"
                       formControlName="telefoneCelular"
                       [ngClass]="{'is-invalid': f['telefoneCelular'].invalid && (f['telefoneCelular'].dirty || f['telefoneCelular'].touched),
                                   'is-valid': f['telefoneCelular'].valid && (f['telefoneCelular'].dirty || f['telefoneCelular'].touched)}">

                  <div *ngIf="f['telefoneCelular'].invalid && (f['telefoneCelular'].dirty || f['telefoneCelular'].touched)" class="invalid-feedback">
                    <div *ngIf="f['telefoneCelular'].errors?.['required']">Telefone celular é obrigatório.</div>
                    <div *ngIf="f['telefoneCelular'].errors?.['minlength']">Telefone celular não pode ter menos que 11 caracteres.</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="telefoneFixo" class="form-label">Telefone Fixo</label>
                <input id="telefoneFixo" type="text" mask="(00) 0000-0000" class="form-control" placeholder="(00) 00000-0000" formControlName="telefoneFixo">
              </div>


            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
              <button type="submit" class="btn btn-success"  [disabled]="form.invalid">Avançar</button>
            </div>
          </form>
        </div>
      </main>

</div>

<div class="container-servicos" *ngIf="controle">
  <div class="section-registro">
    <div class="title">Serviços</div>
    <div class="subtitle">Para selecionar, clique no serviço no painel esquerdo. Para remover clique no serviço no painel direito.</div>

      <div class="d-flex section-servicos">
        <div class="col-6 painel-orgaos-esquerda">
          <input type="text" placeholder="Pesquisa" class="search-orgaos" [(ngModel)]="servicoPesquisa" [ngModelOptions]="{standalone: true}">
          <div class="d-flex flex-column justify-content-between">
            <div class="lista-orgaos">
              <div *ngFor="let item of servicosMei | filter: servicoPesquisa" class="item-orgaos" (click)="selecionarOrgao(item)">
                <p class="my-0">{{ item.nome }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="painel-orgaos col-6">
          <div>
            <p class="title-painel">Selecionados</p>
              <div class="container-lista-orgaos d-flex flex-column justify-content-between">
                <div class="lista-orgaos">
                  <div *ngIf="servicosSelecionados.length > 0">
                    <div *ngFor="let item of servicosSelecionados" class="item-orgaos" (click)="removerOrgao(item)"  tooltip="excluir">
                      <p class="my-0"> {{item.nome}}</p>
                    </div>
                  </div>
                  <div *ngIf="servicosSelecionados?.length == 0" class="text-center">
                    <small>Nenhum serviço foi selecionado. *Obrigatório</small>
                  </div>
                </div>
              </div>
          </div>
          <div class="mover-todos">
                <a href="javascript:void(0)" (click)="removerTodosOrgaos()" *ngIf="servicosSelecionados.length > 0">
                    <div class="mobile"> <span class="input-group-text"><i class="bi bi-trash"><span style="margin-left: 10px;">Remover todos</span></i></span></div>
                </a>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around" style="padding: 10px;">
        <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
        <button type="button" class="btn btn-success" [disabled]="servicosSelecionados.length == 0" (click)="completarCadastro()">Completar Cadastro</button>
      </div>
  </div>
</div>

