.complete-form-custom {
  margin-bottom: 30px;
  width: 400px;
  margin-top: 20px;
  padding: 50px;
  border: 1px solid #77aaff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.botao-rede-social {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .botao-rede-social {
    width: 100px;
  }

  .complete-form-custom {
    align-items: center;
    width: 320px;
    padding: 20px;
  }

  .mover-todos {
    display: none;
    }
  .mobile {
    display: none;
  }
}

.container {
  max-width: 600px;
}

.title {
  color: var(--azul);
}

.subtitle {
  font-weight: lighter;
}

.btn-collapse {
  background-color: var(--azul);
  font-size: small;
  color: white;
  text-decoration: none;
  padding: 2px 10px;
  border-radius: 10px;
}

.btn-collapse:hover {
  background-color: var(--azul-escuro);
}

.corpo-collapse {
  padding: 5px 10px;
  border: solid #dedfdf;
}

.title {
  font-weight: bold;
  font-family: 'Muli';
  color: var(--azul);
}

.descricao {
  font-size: small;
}

.container-servicos {
  display: flex;
  justify-content: center;
}

.section-registro {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.section-registro>.title {
  padding: 10px;
  font-size: 25px;
}

.section-registro>.subtitle {
  font-size: small;
  padding: 10px;
}

.upload{
margin-top: 0%;
}

.painel-orgaos {
border: solid 1px #dedfdf;
margin: 0;
background-color: #fff;
padding: 0 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
border-radius: 0 0 10px 0;
}

.painel-orgaos-esquerda {
  border: solid 1px #dedfdf;
  margin: 0;
  background-color: #fff;
  padding: 0 10px;

  border-radius: 0 0 0 10px;
  }

.title-painel {
  width: 100%;
  border-bottom: solid 1px #dedfdf;
  text-align: center;
  margin-bottom: 2%;
  padding: 5px;
  min-height: 35px;
  height: 15%;
}

.search-orgaos {
width: 100%;
border: none;
border-bottom: solid 1px #dedfdf;
background-color: transparent;
margin-bottom: 2%;
padding: 5px;
min-height: 35px;
}

.search-orgaos:focus {
  outline: none;
}

.lista-orgaos {
  overflow: auto;
  height: 20vh;
  padding-top: 5px;
}

.mover-todos {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.mover-todos>a {
  text-decoration: none;
  color: black;
}

.item-orgaos {
  padding: 5px;
}

.item-orgaos:hover {
  background-color: #dedfdf;
  cursor: pointer;
}

.registro-buttons>a {
  margin-right: 10px;
}

.section-servicos {
  font-size: 80%;
}

.lista-orientacoes {
  padding-left: 1rem;
}

.orientacao {
  display: flex;
  justify-content: flex-end;
}

.descricao-registro p{
  color: var(--cinza);
}

.mobile {
  color: var(--azul);
}

.file {
  font-size: 12px;
  margin-top: 1%;
}

.descricao-registro > p{
font-weight: bold;
}

.protecao-identidade{
display: flex;
align-items: flex-start;
}
.protecao-identidade input{
height: 2.2em;
width: 2.2em;
position: relative;
top: -4px;
}
.protecao-texto{
margin-left: 0.2em;
}

@media only screen and (max-width: 1200px) {
  .orientacao {
      display: flex;
      justify-content: flex-start;
  }
  .mobile {
      color: var(--azul);
      font-weight: 650;
  }
  .file {
      font-size: 9px;
      margin-top: 1%;
  }
  .descricao-registro{
      text-align:justify ;
  }
}
.descricao-registro{
  text-align:justify ;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the button */
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

h1{
  text-align: center;
  color: #4181ee;
}
.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  min-width: 240px;
  background: #02b875;
  padding: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #FFF;
  margin:20px;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.card:nth-child(2){
 background: #4181ee;
}
.card:last-child{
 background: #4181ee;
}
.card-title{
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.card-content{
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.card-btn{
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #FFF;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover{
 color:#02b875;
 background: #FFF;
}
.card:nth-child(2) .card-btn:hover{
 color:#4181ee;
 background: #FFF;
}
.card:last-child .card-btn:hover{
 color:#673ab7;
  background: #FFF;
}


