<div class="d-flex justify-content-center complete-form-custom" *ngIf="!controle">
      <main class="form-signin">

              <div class="text-center mb-4">
                  <h3 class="mb-3 font-weight-normal">Dados Prestador</h3>
              </div>


              <div class="input-group mb-3">
                <input type="text" class="form-control" mask="00000-000" [(ngModel)]="cep" placeholder="00000-00"  (ngModelChange)="validateCep()">
                <button class="btn btn-primary" (click)="buscarCep()" type="button" id="button-addon2" [disabled]="!isCepValid">Buscar Cep</button>
              </div>

              <p class="text-danger">{{ mensagemErro }}</p>

                <div class="container mt-5">

                  <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div>

                      <div class="mb-3">
                        <label for="cep" class="form-label">CEP</label>
                        <input id="cep" type="text" class="form-control" formControlName="cep">
                      </div>
                      <div class="mb-3">
                        <label for="logradouro" class="form-label">Logradouro</label>
                        <input id="logradouro" type="text" class="form-control" formControlName="logradouro">
                      </div>
                      <div class="mb-3">
                        <label for="bairro" class="form-label">Bairro</label>
                        <input id="bairro" type="text" class="form-control" formControlName="bairro">
                      </div>
                      <div class="mb-3">
                        <label for="cidade" class="form-label">Cidade</label>
                        <input id="cidade" type="text" class="form-control" formControlName="cidade">
                      </div>
                      <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <input id="estado" type="text" class="form-control" formControlName="estado">
                      </div>
                      <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input id="nome" type="text" class="form-control" formControlName="nome">
                      </div>
                      <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" type="text" class="form-control" formControlName="email">
                      </div>
                      <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input id="telefone" type="text" mask="(00) 00000-0000" class="form-control" placeholder="(00) 00000-0000 - Obrigatório" formControlName="telefone">
                      </div>

                    </div>

                    <div class="d-flex justify-content-between">
                      <button type="button" class="btn btn-secondary" (click)="voltar()">Voltar</button>
                      <button type="submit" class="btn btn-success"  [disabled]="form.invalid">Submit</button>
                    </div>
                  </form>
                </div>
      </main>

</div>

<!-- <ng-select [items]="servicosMei"
bindLabel="nome"
bindValue="id"
placeholder="Select items"
[multiple]="true"
[(ngModel)]="selectedItems">
</ng-select>

<p>Selected Items: {{ selectedItems | json }}</p> -->

 <div class="section-registro" *ngIf="controle">
  <div class="title">Órgão</div>
  <div class="subtitle">Para selecionar clique no órgão no painel esquerdo. Para remover clique no órgão no painel direito.
  </div>

  <div class="d-flex section-orgaos">
      <div class="col-6 painel-orgaos">
          <div>
              <input type="text" placeholder="Pesquisa" class="search-orgaos" [(ngModel)]="orgaoPesquisa" [ngModelOptions]="{standalone: true}">
              <div class="container-lista-orgaos d-flex flex-column justify-content-between">
                  <div class="lista-orgaos">
                      <!-- <div *ngFor="let orgao of comboUnidade | filter: orgaoPesquisa | orderBy: 'Descricao'" class="item-orgaos" (click)="selecionarOrgao(orgao)"> -->
                        <div *ngFor="let orgao of servicosMei | filter: orgaoPesquisa" class="item-orgaos" (click)="selecionarOrgao(orgao)">
                          <p class="my-0">{{ orgao.nome }}</p>
                        </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="painel-orgaos col-6">
          <div>
              <p class="title-painel">Selecionados</p>
              <div class="container-lista-orgaos d-flex flex-column justify-content-between">
                  <div class="lista-orgaos">
                      <div *ngIf="orgaosSelecionados.length > 0">
                          <div *ngFor="let orgao of orgaosSelecionados" class="item-orgaos" (click)="removerOrgao(orgao)"  tooltip="excluir">
                              <p class="my-0"> {{orgao.nome}}</p>
                          </div>
                      </div>
                      <div *ngIf="orgaosSelecionados?.length == 0" class="text-center">
                          <small>Nenhum órgão foi selecionado</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-end mover-todos">
              <a href="javascript:void(0)" (click)="removerTodosOrgaos()" *ngIf="orgaosSelecionados.length > 0">
                  <div class="mobile">Remover todos</div>
              </a>
          </div>
      </div>

  </div>
