.complete-form-custom {
  margin-bottom: 30px;
  width: 400px;
  margin-top: 20px;
  padding: 50px;
  border: 1px solid #77aaff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.botao-rede-social {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .botao-rede-social {
    width: 100px;
  }

  .complete-form-custom {
    align-items: center;
    width: 320px;
    padding: 20px;
  }
}

.container {
  max-width: 600px;
}

.title {
  color: var(--azul);
}

.subtitle {
  font-weight: lighter;
}

.btn-collapse {
  background-color: var(--azul);
  font-size: small;
  color: white;
  text-decoration: none;
  padding: 2px 10px;
  border-radius: 10px;
}

.btn-collapse:hover {
  background-color: var(--azul-escuro);
}

.corpo-collapse {
  padding: 5px 10px;
  border: solid #dedfdf;
}

.title {
  font-weight: bold;
  font-family: 'Muli';
  color: var(--azul);
}

.descricao {
  font-size: small;
}

.section-registro {
  margin-top: 10px;
  margin-bottom: 30px;
}

.section-registro>.title {
  margin-bottom: 10px;
}

.section-registro>.subtitle {
  font-size: small;
  margin-bottom: 5px;
}

.upload{
margin-top: 0%;
}

.painel-orgaos {
border: solid 1px #dedfdf;
margin: 0;
background-color: #fff;
padding: 0 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.title-painel {
  width: 100%;
  border-bottom: solid 1px #dedfdf;
  text-align: center;
  margin-bottom: 2%;
  padding: 5px;
  min-height: 35px;
  height: 15%;
}

.search-orgaos {
width: 100%;
border: none;
border-bottom: solid 1px #dedfdf;
background-color: transparent;
margin-bottom: 2%;
padding: 5px;
min-height: 35px;
}

.search-orgaos:focus {
  outline: none;
}

.lista-orgaos {
  overflow: auto;
  height: 20vh;
  padding-top: 5px;
}

.mover-todos {
padding-bottom: 2%;
}

.mover-todos>a {
  text-decoration: none;
  color: black;
}

.item-orgaos {
  padding: 5px;
}

.item-orgaos:hover {
  background-color: #dedfdf;
  cursor: pointer;
}

.registro-buttons>a {
  margin-right: 10px;
}

.section-orgaos {
  font-size: 80%;
}

.lista-orientacoes {
  padding-left: 1rem;
}

.orientacao {
  display: flex;
  justify-content: flex-end;
}

.descricao-registro p{
  color: var(--cinza);
}

.mobile {
  color: var(--azul);
}

.file {
  font-size: 12px;
  margin-top: 1%;
}

.descricao-registro > p{
font-weight: bold;
}

.protecao-identidade{
display: flex;
align-items: start;
}
.protecao-identidade input{
height: 2.2em;
width: 2.2em;
position: relative;
top: -4px;
}
.protecao-texto{
margin-left: 0.2em;
}

@media only screen and (max-width: 1200px) {
  .orientacao {
      display: flex;
      justify-content: flex-start;
  }
  .mobile {
      color: var(--azul);
      font-weight: 650;
  }
  .file {
      font-size: 9px;
      margin-top: 1%;
  }
  .descricao-registro{
      text-align:justify ;
  }
}
.descricao-registro{
  text-align:justify ;
}

