<div *ngIf="prestador$ | async as prestador">

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2>{{ prestador.nome | capitalizeFirst }}</h2>
      <button class="btn btn-link" title="Update">
        <span>Alterar<i class="bi bi-pencil" style="margin-left: 10px;"></i></span> <!-- Update icon -->
      </button>
    </div>
    <div class="card-body">
      <p><strong>Email:</strong> {{ prestador.email }}</p>
      <p><strong>Telefone Celular:</strong> {{ prestador.telefoneCelular }}</p>
      <p><strong>Telefone Fixo:</strong> {{ prestador.telefoneFixo }}</p>
      <p><strong>Endereço:</strong> {{ prestador.logradouro }}, {{ prestador.bairro }}, {{ prestador.cidade }}, {{ prestador.estado }}</p>
      <p><strong>Complemento:</strong> {{ prestador.complemento }}</p>
      <h3>Serviços:</h3>
      <ul>
        <li *ngFor="let servico of prestador.servicosDto">
          {{ servico.nome }} <!-- Adjust property name based on your ServicosMei structure -->
        </li>
      </ul>
    </div>
  </div>


</div>
